@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* universal selector */
*{
  outline: none;
  box-sizing: border-box;
}
  
html{
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar{
  width: 10px;
}

::webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background: #888;
}

::-webkit-scrollbar-thumb:hover{
  background: #555;
}
body::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.45) 100%);
  -webkit-backdrop-filter: saturate(3);
  backdrop-filter: saturate(3);
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(images/gradienta-G084bO4wGDA-unsplash.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 480px) {
  body {
    padding: 0.8em;
  }
}

main {
  background-color: rgb(255 255 255 / 31%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1650px;
  width: 100%;
  height: 85%;
  border-radius: 5px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-weight: 500;
  padding: 1rem 1rem 2rem 1rem;
  overflow: auto;
}
  
main::-webkit-scrollbar{
  display: none;
}
.aboutme-container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.aboutme{
  margin: 2rem;
  text-align: center;
  font-weight: 400;
}
.middle{
    width: 100%;
    display: grid;
    align-items: center;
    margin: auto;
}
.error{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.middle .skills, .middle .project{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.404);
  border: 1px solid rgb(255 255 255 / 31%);
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 2rem;
}
.skills h1{
  display: block;
  width: 90%;
  padding-bottom: 20px;
  margin-bottom: 1rem;
}
.skills img{
  height: 60px;
  width: 60px;
  margin: 30px;
}
.skills img:hover{
  transition: 400ms;
  transform: scale(0.85);
  cursor: pointer;
}
.project{
  flex-direction: column;
  gap: 40px;
}

.project h1{
  display: block;
  width: 90%;
  font-size: 30px;
}
.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
  }
  .project-details p{
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 400;
  }
  .project-details h4{
    margin: 0%;
    margin-bottom: 5px;
  }
.project img{
    height: 60px;
    padding-right: 10px;
}
.connect-head{
  width: 90%;
  margin: auto;
}
.connect{
  margin: auto;
  background-color: rgb(255 255 255 / 31%);
  border: 1px solid rgb(255 255 255 / 31%);
  border-radius: 5px;
  padding: 25px;
  width: 85%;
}
.connect .connect-input{
    margin-bottom: 1rem;
    padding: 10px;
}
.connect-input input, .connect-input textarea{
  width: 100%;
  padding: 5px 10px;
  margin-top: 5px;
  font-weight: 600;
  display: block;
  resize: none;
  border: none;
  border-radius: 10px;
  min-height: 40px;
  background-color: rgba(201, 182, 182, 0.31);
}
.submit{
  padding: 10px 20px;
  font-weight: 600;
  font-size: 15px;
  border: 1px solid rgb(255 255 255 / 31%);
  background-color: rgb(255 255 255 / 31%);
  cursor: pointer;
  border-radius: 20px;
}
.submit:hover{
  transition: 400ms all;
  transform: scale(0.85);
  cursor: pointer;
}