@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* universal selector */

*{
    outline: none;
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar{
    width: 10px;
  }
  
  ::webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb{
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background: #555;
  }
  
body::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.45) 100%);
  -webkit-backdrop-filter: saturate(3);
  backdrop-filter: saturate(3);
  }

  body {
    font-family: "Poppins", sans-serif;
    background-image: url(parts/images/gradienta-G084bO4wGDA-unsplash.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100vh;
  }
  
  @media screen and (max-width: 480px) {
    body {
      padding: 0.8em;
    }
  }

  main {
    background-color: rgb(255 255 255 / 31%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1650px;
    width: 100%;
    height: 85%;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    font-weight: 500;
    padding: 1rem 1rem 2rem 1rem;
    overflow: auto;
  }
  
main::-webkit-scrollbar{
  display: none;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    border-bottom: 1.5px solid rgb(255 255 255 / 35%);
}

.title{
    padding: 20px;
    font-size: 50px;
    font-weight: 500;
}

.navbar-links{
    display: flex;
    gap: 20px;
}
.navbar-links a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}

.navbar-links > a:hover{
    transition: ease-out 500ms;
    background: white;
    border-radius: 25px;
}
.dropbtn{
  border: none;
  background: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 5px 20px;
  display: none;
}

.dropcont{
  display: none;
  position: absolute;
  max-width: 100px;
  z-index: 1;
  margin-left: 31px;
}
.dropbtn:hover{
  transition: ease-out 500ms;
  background: white;
  border-radius: 25px;
}
.dropdown:hover .dropcont{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:none ;
  gap: 10px;
  border-radius: 10px;
}
.dropcont a{
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
}
.dropcont a:hover{
  background-color: white;
  transition: ease-out 500ms;
  border-radius: 25px;
}
.hero-section{
    margin: 2rem 0;
    padding-top: 130px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}
.hero-section img{
    width: 350px;
    border-radius: 40px;
}
.hero-section-details{
    text-align: center;
}
.hero-section-details h1{
    font-size: 50px;
    margin: 10px;
}
.hero-section-text{
  font-weight: 350;
}
.hero-section-name{
  font-size: 40px;
}
@media only screen and (max-width: 1020px){
  .skillsAndProjects{
    grid-template-columns: [one] 100%;
    grid-template-rows: [one] [two];
  }
  .navbar-links{
    display: none;
  }
  .title{
    font-size: 30px;
  }
  .hero-section img{
    width: 250px;
  }
  .dropbtn{
    display: block;
  }
  .dropcont{
    margin-left: 21px;
  }
  }
@media only screen and (max-width: 560px){
    .title{
      font-size: 25px;
      display: block;
    }
    .navbar{
      flex-direction: column;
    }
}